.container {
  width: 100%;
  margin-top: -3vh;
}
.header {
  background-color: yellow;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 12vh;
  color: rgb(255, 60, 0);
}
.akbarimage {
  position:absolute;
  top: 1vh;
  left: 1vw;
  width: 21vh;
  height: 21vh;
  border-radius: 13vh;
}
.body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 3px;
  background-color: rgb(3, 16, 15);
  color: white;
  padding: 7vh 1vh 1vh 1vh;
  height: 140vh;
}
.body div{
  padding: 10px;
  background-color: rgb(2, 31, 31);
}
.expirence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-wrap: nowrap;
  font-size: xx-small;
  grid-column: span 2;
  grid-row: 1 / span 8;
}
.expirence h1 {
  margin-top: 4vh;
}
.years {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: baseline;
  font-size: 5vh;
  color: yellow;
}
.years p {
transform: rotate(90deg);
}
.mapo{
  font-size: 6vh ;
  color: yellow;
}
.personal {
  grid-column: span 2;
  grid-row: 9 / span 4;
  
}
.contact {
  grid-column: 3 / span 4;
  grid-row: 1 /span 4;
  
}
.ShortBio {
  grid-column: 3 / span 4;
  grid-row: 5 / span 4;
  
}
.Education {
  grid-column: 3 / span 4;
  grid-row: 9 / span 4;
  
}
.Expertise {
  grid-column: 7 / span 6;
  grid-row: span 4;
  
}
.SoftwareSkills {
  grid-column: 7 / span 6;
  grid-row: 5 / span 4;
  
}
.remote {
  grid-column: 7 / span 6;
  grid-row: 9 / span 4;
  
}
