.container {
  width: 100%;
}
.header {
  background-color: yellow;
  text-align: center;
  line-height: 5vh;
}
.akbarimage {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: 21vh;
  height: 21vh;
  border-radius: 13vh;
}
.body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  background-color: rgb(3, 16, 15);
  color: white;
  padding: 20px;
}
.expirence {
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
  background-color: aqua;
  padding: 10px;
}
.personal {
  grid-column: 1 / span 2;
  grid-row: 6 / span 2;
  background-color: lightcoral;
  padding: 10px;
}
.contact {
  grid-column: 3 / span 4;
  grid-row: 2 / span 2;
  background-color: lightgreen;
  padding: 10px;
}
.ShortBio {
  grid-column: 3 / span 4;
  grid-row: 4 / span 2;
  background-color: lightblue;
  padding: 10px;
}
.Education {
  grid-column: 3 / span 4;
  grid-row:6 / span 2;
  background-color: lightgray;
  padding: 10px;
}
.Expertise {
  grid-column: 7 / span 6;
  grid-row: 5 / span 1;
  background-color: lightpink;
  padding: 10px;
}
.SoftwareSkills {
  grid-column: 1 / span 12;
  grid-row: 8 / span 1;
  background-color: lightgoldenrodyellow;
  padding: 10px;
}
.remote {
  grid-column: 7 / span 6;
  grid-row: 6 / span 1;
  background-color: lightseagreen;
  padding: 10px;
}
