.container {
  width: 100%;
  margin-top: -3vh;
}
.header {
  background-color: yellow;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 12vh;
  color: rgb(255, 60, 0);
}
.akbarimage {
  position: absolute;
  top: 0.1vh;
  left: 0.1vw;
  width: 21vh;
  height: 21vh;
  border-radius: 13vh;
}
.charto {
  width: 40vh;
  background: #e3f2fd;
  border-radius: 1vh;
  border: 0.4vh double #19a4d2;
}

.body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17, 1fr);
  gap: 3px;
  background-color: rgb(3, 16, 15);
  color: white;
  height: 170vh;
  padding: 1vh;
}
.body div {
  direction: rtl;
  background-color: rgb(2, 31, 31);
}
.expirence {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-column: span 2;
  grid-row: 1 / span 9;
}

.expirence h1,
.expirence h2,
.expirence h3 {
  font-size: large;
  margin-top: -1vh;
  margin-bottom: -5vh;
}
.expirence h1 {
  margin-top: 8vh;
}
.years {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: baseline;
  font-size: 5vh;
  color: yellow;
}
.years p {
  margin-right: 2vh;
  transform: rotate(90deg);
}
.icon {
  cursor: copy;
  color: yellow;
}
.personal {
  grid-column: span 2;
  grid-row: 10 / span 8;
}
.personalIcons {
  display: flex;
  justify-content: space-around;
}
.contact {
  grid-column: 3 / span 4;
  grid-row: 1 / span 4;
}
.contactRow {
  border-bottom: 0.3vh ridge #e3f2fd;
}
.contactRow p {
  display: flex;
  justify-content: space-around;
}
.contactRow:last-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ShortBio {
  grid-column: 3 / span 4;
  grid-row: 5 / span 6;
}
.ShortBio h1 {
  background-color: yellow;
  color: #001d32;
  text-align: center;
}
.Education {
  grid-column: 3 / span 4;
  grid-row: 11 / span 7;
}
.Education h1 {
  background-color: #001d32;
  color: yellow;
  text-align: center;
}
.Education p {
  display: flex;
  justify-content: space-around;
}
.educationImage {
  width: 90%;
  margin-right: 5%;
  height: 11%;
  border-radius: 1vh;
  opacity: 0.7;
}
.shamsImage {
  border-radius: 1vh;
  opacity: 0.7;
  width: 22%;
  height: 22%;
}
.Expertise {
  grid-column: 7 / span 6;
  grid-row: span 6;
}
.SoftwareSkills {
  grid-column: 7 / span 6;
  grid-row: 7 / span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.SoftwareSkills h2 {
  height: 1vh;
}

.remote h1 {
  background-color: yellow;
  color: #001d32;
  text-align: center;
}
.remote {
  grid-column: 7 / span 6;
  grid-row: 13 / span 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.worldImage {
  width: 65%;
  height: 67%;
  border-radius: 1vh;
}

.numbero {
  font-family: Sans;
}
