/** @format */

@font-face {
	font-family: Tanha;
	src: url('../../public/font/IranNastaliq-Web.ttf');
}@font-face {
	font-family: Sans;
	src: url('../../public/font/IRANSansWeb\(FaNum\).ttf');
}

* {
    user-select: none;
    transition: all 0.4s;
    box-sizing: border-box;
    font-family: Tanha;
}
body {
    font-family: Sa;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-width: 100vw;
    height: 100%;
}



::-webkit-scrollbar {
	width: 11px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(192, 192, 192);
	border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #220800;
	border: ridge 0.7vh #edcc0f;
	box-shadow: 0px 0px 1px 1px #dbfefb inset, 1px 1px 2px 1px #fbfaf9;
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(221, 204, 21);
	box-shadow: 0px 0px 1px 1px #0d0705, 1px 1px 1px 1px #fbf9f9 inset;
}
