/** @format */

@keyframes treeSelector {
	0% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 30%,
			rgba(1, 128, 105, 0.93) 70%
		);
	}
	20% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 40%,
			rgba(1, 128, 105, 0.93) 80%
		);
	}
	40% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 50%,
			rgba(1, 128, 105, 0.93) 90%
		);
	}
	60% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 40%,
			rgba(1, 128, 105, 0.93) 80%
		);
	}
	80% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 30%,
			rgba(1, 128, 105, 0.93) 70%
		);
	}
}
.container {
	background: radial-gradient(
		rgba(8, 131, 119, 0.924),
		rgba(103, 202, 221, 0.919) 20%,
		rgba(1, 128, 105, 0.93) 60%
	);
	border: ridge 2vh #55c5c0;
	border-radius: 2vh 7vh;
	opacity: .8;
	box-shadow: 1px 1px 111vh 111vh rgba(0, 2, 1, 0.33) inset;
	animation: treeSelector infinite 7s ;
	transition: all 2s ease;
}
.container:hover{
	opacity: 1;
	box-shadow: none;
}
 
